body {
	background-color: whitesmoke;
}

.container,
.main-left,
.main-right {
	display: flex;
	flex-direction: column;
}

.header,
.main,
.radio,
.footer {
	display: flex;
	flex-direction: row;
}

.container {
	width: 100%;
	align-items: center;
}

.header,
.middle,
.main,
.footer {
	width: 60%;
}

.header {
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 10px;
	background-color: white;
	height: 50px;
}

.header input {
	outline: none;
	background-color: deepskyblue;
	border: 0;
	border-radius: 3px;
	color: white;
	margin-right: 3px;
	height: 25px;
	width: 50px;
}

.main {
	justify-content: flex-start;
	background-color: white;
	margin-bottom: 10px;
}

.main input {
	border-radius: 3px;
	border: 1px solid gainsboro;
	height: 20px;
	margin-bottom: 2.8px;
	width: 100%;
}

.main-left {
	align-items: flex-end;
}

.main-left span {
	margin-bottom: 11px;
}

.main-right {
	align-items: flex-start;
	margin-left: 30px;
	width: 40%;
}

.radio {
	width: 90px;
	align-items: center;
}

.middle {
	background-color: white;
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
}

.footer {
	background-color: white;
	height: 30px;
	align-items: center;
}

.footer input {
	opacity: 0;
	position: relative;
	top: -20px;
}

.upload {
	flex-direction: row;
	width: 65px;
	height: 19px;
	border: 0;
	border-radius: 3px;
	background-color: deepskyblue;
	position: relative;
	left: 50px;
	text-decoration: none;
	color: white;
	line-height: 19px;
}